<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Messages Attachment Manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E687D7211CF74B210008C69D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E687D7321CF74B210008C69D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E687D73D1CF74B210008C69D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
